<h1><%= params[:status]&.titleize || "All" %> Tasks</h1>

<%= render 'menu' %>

<%= render 'table', tasks: @tasks %>

<hr>

<% unless params["status"] == "completed" %>
  <%= render 'form', task: @task %>
<%end%>
